// Place all the styles related to the public/deliverys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delivery-edit-b {
  background-color: #32CD32;
  color: white;
  text-decoration: none;
}

.delivery-list-bottom {
  margin-bottom: 35px;
}

.delivery-table {
  padding-left: 10px;
}