// Place all the styles related to the public/end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr.tablehi {
  height: 30px;
}

.font-edit5 {
  font-size: 16px;
}

.font-edit6 {
  font-size: 18px;
  font-weight: bold;
}

.table-space-end {
  margin: 0 25px 0 0;
}

.table-space-end2 {
  margin: 10% auto 10% auto;
}

.not-bo {
  background-color: blue;
  color: white;
  text-decoration: none;
}

.no-bo {
  background-color: red;
  color: white;
  text-decoration: none;
}

.edit-list-space {
  margin-left: 20px;
}

.edit-underline {
  margin-left: 100px;
  text-decoration: none;
}