// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo {
  margin-top: 20px;
}

.item {
  hight: 10px;
}

.item-bottom {
  margin-bottom: 20px;
}

.item-name {
  font-size: 20px;
}

.tax {
  font-size: 12px;
}

.item-b {
  margin-left: 20px;
}