// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.font-edit {
    font-size: 12px;
    font-weight: lighter;
}

.font-edit2 {
    font-size: 18px;
    font-weight: lighter;
}

.font-edit3 {
    font-size: 14px;
    font-weight: lighter;
}

.order-font-edit {
    font-size: 14px;
    font-weight: bold;
}

.list-bottom {
    margin-bottom: 10px;
}

.list-bottom2 {
    margin-bottom: 15px;
}

tr.tablehi {
  height: 50px;
}

td.left-s {
    margin-left: 10px;
}

.table-s {
    padding-left: 5px;
}

.label-f {
    font-size: 20px;
    margin: 0 5px 0 0;
}

.order-tablespace {
    margin: 0 10;
}

.table-w1 {
    width: 14%;
}

.table-w2 {
    width: 36%;
}

.table-w3 {
    width: 8%;
}

td.table-h {
    padding: 8px 0;
    padding-left: 5px;
}

th.table-h {
    padding: 8px 0;
    padding-left: 5px;
}